* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  display: flex;
  padding-block: 20px;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50vh;
  background-color: rgba(198, 149, 149, 0.8);
  overflow: scroll;
}

.luk {
  position: fixed;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}
